# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-imageProcess-Desktop_Qt_5_9_8_GCC_64bit-Debug/
build-imageProcess-Desktop_Qt_5_13_0_MSVC2017_32bit-Debug/
imageProcess/imageProcess.pro.user
build-imageProcess-unknown-Debug/
imageProcess/imageProcess.pro
